.mainContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  height: 80%
}

.nav-link:hover {
  background-color: var(--primary-color);
  color: white;
}
