.mainContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  height: 80%
}

.active { text-decoration: underline; }

.sidebar {
  height: 322px;
  padding-left: 20px;
  width: 267px;
}

.sidebar-title {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 10px 10px 0px 10px;
}

.item {
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
}

.item .nav-link span { text-decoration: none; }

.item .nav-link-active span {
  -o-transition: ease-in 0.3s;
  -webkit-text-decoration: underline 1px solid #991F3D;
  -webkit-transition: ease-in 0.3s;
  text-decoration: underline 1px solid #991F3D;
  text-underline-offset: 6px;
  transition: ease-in 0.3s;
}

.line {
  border-top: 1px solid #ccc;
  margin: 0 0 1rem 0;
  width: 100%;
}

hr { border-top: 1px solid #C8C8C8; }

@media screen and (max-width: 1220px) {
  .item {
    font-size: 16px;
  }
}

@media screen and (max-width: 720px) {
  .display-tablet {
    display: none;
  }

  .mainContainer {
    grid-template-columns: 1fr;
  }

  .item {
    font-size: 18px;
  }
}