@page "/me"

<div>
    <h2>Mina sidor</h2>
    <div class="nav-item">
        <NavLink class="nav-link" href="/me/order_history">
            <span>Mina beställningar</span>
        </NavLink>
    </div>
</div>