@page "/order"
@using project_foodie.Data
@using project_foodie.Model
@using project_foodie.Pages.view_menu.components
@inject NavigationManager UriHelper

<Timeline/>
<div class="menu-container">
    <MenuContainer/>
    <div class="button-container">
        <button @onclick="DecrementCount" class="button-back">Tillbaka</button>
        <button @onclick="IncrementCount" class="button-forward">Nästa steg</button>
    </div>
</div>

@code{
    private int count = 1;
    void Navigate()
    {
        if(count == 1) {
            UriHelper.NavigateTo("order");
        }
    }

    private void IncrementCount()
    {
        count++;
        Console.WriteLine(count);
    }

    private void DecrementCount()
    {
        count--;
        Console.WriteLine(count);
    }
}