@using project_foodie.Model
<div class="startContainer">
    <p>Du beställer för @menuInfo.Name</p>
    <p>
        Sista dag för att beställa för @menuInfo.Name
        <span class="dateText">
            <br>@menuInfo.lastOrderDate.ToString("yyyy-MM-dd")
        </span>
    </p>
</div>

@code {

    [Parameter]
    public Menu menuInfo { get; set; }

}