.menu-container {
    height: 75%;
    margin: auto;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.button-back {
    font-weight: bold;
    font-size: 32px;
    width: 297px;
    height: 74px;
    margin-right: 10px;
    color: #067A46;
    border: 1px solid #067A46;
    border-radius: 15px;
    background: #ffffff;
}

.button-forward {
    font-weight: bold;
    font-size: 32px;
    border:none;
    width: 204px;
    height: 74px;
    background-color: var(--btn-sucess, #067A46);
    margin-left: 10px;
    color: var(--btn-secondary-text-color, #000000);
    border-radius: 15px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-category {
    padding: 16px 24px 16px 24px;
    border-radius: 10px;
    border: 1px solid #067A46;
    color: black;
    font-weight: bold;
    background: #ffffff;
}

.button-category:hover {
    background-color: #067A46;
    opacity: 50%;
    color: white;
}

.button-category-clicked {
    background-color: #067A46;
    padding: 16px 24px 16px 24px;
    border-radius: 10px;
    border: 1px solid #067A46;
    font-weight: bold;
    color: white;
}

.information {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 48px;
    justify-content: space-around;
}

.text-week {
    text-align: left;
    color: #067A46;
}

.text-dat {
    text-align: center;
}