.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1;
}

article {
    margin: 0em 2em 0em 2em;
}

footer {
    display: flex;
    justify-content: space-between;
    height: 120px;
    border-top: 1px solid #CDCDCD;
    font-size: 30px;
}

.copyright {
    margin-left: 40px;
}

.policy {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}
