@inherits LayoutComponentBase

<PageTitle>Foodie</PageTitle>

<div class="page">
    <main>
        <NavHeader />

        <article class="content px-4">
            @Body
        </article>
        <footer>
            <div class="copyright">
                <p>Copyright 2023</p>
            </div>
            <div class="policy">
                <p>Security</p>
                <p>Privacy</p>
            </div>
        </footer>
    </main>
</div>
