.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

body {
  height: 100%;
}

main {
    flex: 1;
}

article {
    margin: 1em 2em 2em 2em;
    height: calc(100% - 80px);
}

footer {
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 100%;
    border-top: 1px solid #CDCDCD;
    font-size: 30px;
    background: white;
}

.copyright {
    margin-top: 10px;
    margin-left: 40px;
}

.policy {
    margin-top: 10px;
    display: flex;
    gap: 40px;
    margin-right: 40px;
}

@media screen and (max-width: 600px) {
  footer {
    justify-content: center;
  }
  .copyright {
    margin: auto;
  }
  .policy{
    display: none;
  }

  article {
      margin: 1em;
  }
}
