@inherits LayoutComponentBase

<PageTitle>project-foodie</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
        <footer class="border-top" style="height: 100px;"></footer>
    </main>
</div>
