@inherits LayoutComponentBase

<PageTitle>Foodie</PageTitle>

<div class="page">
    <main>
        <NavHeader/>

        @* MobileHeader is only visible when window width < 600px *@
        <MobileHeader/>

        <article>
            @Body
        </article>
    </main>
    <footer>
        <div class="copyright">
            <p>Copyright 2023</p>
        </div>
        <div class="policy">
            <p>Security</p>
            <p>Privacy</p>
        </div>
    </footer>
</div>