<div class="mobile-header">
    <div class="logo">
        <h1>CGI | <span class="platform">Platform Name</span></h1>
    </div>
</div>

@code {

    // Variable to hold the cart count
    private int itemsCountInKassan;
    private int cartCount;

}