.header {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-shadow: 0px 2px 8px rgba(72, 72, 72, 0.25);
    background: #FFFFFF;
}

.logo {
    padding-left: 20px;
    font-size: 20px;
    color: #067A46;
    height: 120px;
}

.logo h1 {
    margin-top: 16px;
}

.navbar {
    text-decoration: none;
}

.nav-kassan-counter {
    background-color: #f2f2f2;
    border-radius: 5px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 10px;
}

.nav-kassan {
    margin-left: 20px;
    margin-top: -15px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out, box-shadow 0.1s ease-in-out;
}

.nav-kassan:hover {
    background-color: #0069d9;
}

.nav-kassan:active {
    background-color: #0053a6;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}


.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
    padding: 26px 66px 46px 10px;
}

.nav-item {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (max-width: 890px) {
    .nav {
        font-size: 16px;
        margin: auto;
        padding-right: 0px;
        padding-left: 0px;
    }

    .header {
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .nav-kassan {
        margin-right: 0px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 600px) {
    .nav-kassan {
        display: none;
    }
}