@using Newtonsoft.Json;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using System.Collections.Generic;

<div class="header">
    <div class="logo">
        <h1>LOGO</h1>
    </div>
    <div class="navbar">
        <nav class="nav">
            <div class="nav-item">
                <NavLink class="nav-link" href="/">
                    <span>Start</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="order">
                    <span class="nav-link-text">Beställ</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="how">
                    <span>Vanliga frågor</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="me">
                    <span>Min sida</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="order?page=14">
                    <button class="nav-kassan">
                        <span>Icon</span>
                        Varukorg <span class="nav-kassan-counter">@itemsCountInKassan</span>
                    </button>
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    private int itemsCountInKassan;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            itemsCountInKassan = await GetObjectCount();
            StateHasChanged();
        }
    }

    private async Task<int> GetObjectCount()
    {
        // Fetch the data from local storage
        var localStorageContent = await localStorage.GetItemAsync<string>("dishData");
        // Check if the data is empty
        if (localStorageContent == null)
        {
            return 0;
        }
        else
        {
            // Deserialize the data
            var dictionary = JsonConvert.DeserializeObject<Dictionary<string, Dictionary<string, int>>>(localStorageContent);
            // Filter the data where count is greater than 0
            var filteredObjects = dictionary.Values.Where(obj => obj.Values.Any(count => count > 0));
            // Count the data and return the count
            var itemsCount = filteredObjects.Count();
            return itemsCount;
        }
    }
}