@using Newtonsoft.Json;
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using System.Collections.Generic;

<div class="header">
    <div class="logo">
        <h1>LOGO</h1>
    </div>
    <div class="navbar">
        <nav class="nav">
            <div class="nav-item">
                <NavLink class="nav-link" href="/">
                    <span>Start</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="order">
                    <span class="nav-link-text">Beställ</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="how">
                    <span>Vanliga frågor</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="me">
                    <span>Min sida</span>
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="#">
                    <button class="nav-kassan" @onclick="@GetObjectCount">
                        Till Kassa <span class="nav-kassan-counter">@objectCount</span>
                    </button>
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    [Parameter]
    public int objectCount { get; set; }
    private async Task<int> GetObjectCount()
    {
        //Only get objects from local storage if they have count > 0
        var localStorageContent = await localStorage.GetItemAsync<string>("dishData");
        var dictionary = JsonConvert.DeserializeObject<Dictionary<string, Dictionary<string, int>>>(localStorageContent);
        var filteredObjects = dictionary.Values.Where(obj => obj.Values.Any(count => count > 0));
        var count = filteredObjects.Count();
        objectCount = count;

        return count;
    }
}