.header {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-box-shadow: 0px 2px 8px rgba(72, 72, 72, 0.25);
  background: #FFFFFF;
  background-color: FFFFFF;
  box-shadow: 0px 2px 8px rgba(72, 72, 72, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  justify-content: space-between;
}

.logo {
  color: var(--primary-color);
  font-size: 20px;
  height: 120px;
  padding-left: 20px;
}

.nav-link span {
  color: white;
}

.logo h1 {
  margin-top: 16px;
}

.navbar {
  text-decoration: none;
  background-color: var(--primary-color);
}

.nav-kassan {
  margin-left: 20px;
  margin-top: -15px;
}

.nav-kassan img {
  margin-bottom: -2px;
  margin-right: -6px;
}

.nav-kassan-counter {
  background: #00E17C;
  border-radius: 100%;
  color: #000000;
  display: inline-block;
  font-size: 0.7em;
  font-weight: bolder;
  height: 30px;
  margin-left: -30px;
  text-align: center;
  width: 30px;
}

.nav-kassan-counter p {
  margin: 0px;
  padding-left: 1px;
  padding-top: 5px;
}


.nav {
  -ms-flex-direction: row;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  font-weight: 500;
  gap: 20px;
  padding: 26px 66px 46px 10px;
}

.nav-item {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}

@media screen and (max-width: 890px) {
  .nav {
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }

  .header {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .logo {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    font-size: 1.2em;
  }

  .nav-kassan-counter {
    font-size: 0.85em;
  }

  .not-need-now {
    display: none;
  }
}