.header {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-box-shadow: 0px 2px 8px rgba(72, 72, 72, 0.25);
  background: #FFFFFF;
  background-color: FFFFFF;
  box-shadow: 0px 2px 8px rgba(72, 72, 72, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 5em;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: top 0.3s ease 0s;
  position:fixed;
  top: 0;
  z-index: 10;
}

.logo {
  color: #067A46;
  font-size: 20px;
  height: 120px;
  padding-left: 2em;
  display: flex;
  align-items: center;
}

.nav-kassan-counter {
  background: #00E17C;
  border-radius: 100%;
  color: #000000;
  display: inline-block;
  font-size: 0.7em;
  font-weight: bolder;
  height: 30px;
  margin-left: -30px;
  text-align: center;
  width: 30px;
}

.nav-kassan-counter p {
  margin: 0px;
  padding-left: 1px;
  padding-top: 5px;
}


.nav-item {
  color: #FFFFFF;
  display: block;
  text-decoration: none;
}


@media screen and (max-width: 890px) {
  .nav {
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
  }

  .header {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
  }

  .logo { display: none; }
}

@media screen and (min-width: 600px) {
    .nav {
      -ms-flex-direction: row;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      font-size: 1.5em;
      font-weight: 500;
      gap: 20px;
      align-items: center;
      margin-right: 2em;
      width: 100%;
      justify-content: right;
    }

    .nav-link-item img {
      display: none;
    }
}


@media screen and (max-width: 600px) {
  .nav { 
    display: flex;
    font-size: 1em; 
    justify-content: space-between;
    align-items: center;  
    width: 100%;
    padding: 0 1em;
  }

  .nav-link-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-link-item img {
    width: 2em;
  }

  .nav-link-active img {
    filter: var(--svg-filter-green);
  }

  .nav-link-active span {
    color: #067A46 
  }

  #header {
    position:fixed;
    top: auto !important;
    bottom: 0 !important;
  }

  .nav-kassan-counter { font-size: 0.85em; }

  .not-need-now { display: none; }
}
