@page "/test"
@using project_foodie.Data
@using project_foodie.Model
@* import userContexrt *@
@inject IDbContextFactory<UserContext> DbFactory
<h1>Test</h1>
<p>@message</p>

@code{

    private string message;

    protected override async Task OnInitializedAsync()
    {
            using var context = DbFactory.CreateDbContext();
        var a = context.Blogs;
        message = a.ToList<Blog>().Count.ToString();

        a.Add(new Blog { Name = "test", Age="23", Id= a.ToList<Blog>().Count + 3});
        await context.SaveChangesAsync();
    }
}