@page "/test"
@using project_foodie.Model
@using System.Text.Json
@using project_foodie.Repository

<h1>Test</h1>
<p>@message</p>

@code {

    private string message;

    protected override async Task OnInitializedAsync()
    {
        var db = new DatabaseContext();
        var menuRepository = new MenuRepository(db);
        var menu = new Menu
        {
            Name = "Test",
            endDate = DateTime.Now,
            startDate = DateTime.Now,
            lastOrderDate = DateTime.Now
        };

        db.Menus.Add(menu);
        await db.SaveChangesAsync();
        var menus = await menuRepository.GetAllAsync();
        @* foreach (var menuItem in menus)
        {
            string serializedString = System.Text.Json.JsonSerializer.Serialize(menu.dayMenus);
            Console.WriteLine(serializedString);
        } *@
        string serializedString = System.Text.Json.JsonSerializer.Serialize(menu);
        Console.WriteLine(serializedString);
        message = "Test";
    }

}