@using Newtonsoft.Json

<div class="food-card">
    <img class="food-card-img" src="https://static.mathem.se/shared/images/recipes/doublelarge/kycklingtimbal-och-bontimbal-findus-mathem.jpeg" alt="Card image cap">
    <div class="food-card-body">
        <p class="food-card-text">Kycklingtimbal med böntimbal, brunsås och potatismos</p>
        <p class="food-card-price">50kr</p>
        <div class="food-card-btn-container">
            @if (showInput)
            {
                <div class="btn-add-container">
                    <button class="food-card-btn-decrement" @onclick="DecrementCount">-</button>
                    <input type="text" class="text-add-placeholder" count="@count" placeholder=@count readonly="readonly"/>
                    <button class="food-card-btn-add-increment" @onclick="IncrementCount">+</button>
                </div>
            }
            else
            {
                <button class="@ButtonClass food-card-btn" type="submit" @onclick="ToggleInput">Välj</button>
            }
        </div>
    </div>
    <button type="button" class="btn btn-primary" @onclick="GetJsonData">Get JSON Data</button>

<p>@jsonData</p>
</div>



@code {
    private int count = 0;
    private bool showInput = false;
    private string ButtonClass => count <= 0 ? "food-card-btn food-card-btn-add-amount" : "food-card-btn food-card-btn-add";
    
    [Parameter]
    public int id { get; set; }
    

    private string jsonData = string.Empty;

    private async Task GetJsonData()
    {
        var data  = new 
        { 
            pageId = 1,
            items = new
            {
                dishId = id,
                quantity = count,
            }
        };

        jsonData = JsonConvert.SerializeObject(data);
    }

    private void ToggleInput()
    {
        showInput = !showInput;
        if (showInput)
        {
            count = 1;
        }
        else
        {
            count = 0;
        }
    }

    private void IncrementCount()
    {
        if (count < 10) {
            count++;
        }

    }

    private void DecrementCount()
    {
        if (count > 0)
        {
            count--;
            
        }
        if (count == 0)
        {
            showInput = false;
        }
    }


}



