@using project_foodie.Pages.view_menu.components
@using project_foodie.Model
<div class="menu-container">
    <div class="card-container">
        <h2 class="meal-text">Lunch</h2>
        @for (int x = 0; x < 3; x++)
        {
            <Dishes DishName=@_dish.Name DishDescription=@_dish.description id=@_dish.Id />
        }
    </div>
</div>

@code {

    private Dish _dish;
    protected override void OnInitialized()
    {
        this._dish = Dish.GetAll()[1];
    }

}
