h1 {
    text-align: center;
    font-size: var(--h1-font-default, 40px);
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: var(--h1-font-default, 30px);
}

.meal-text {
    margin-left: -168px;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 53px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.radio-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #067A46;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;
}

input[type="radio"]:checked+label {
    background-color: #067A46;
    color: white;
}