h1 {
    text-align: center;
    font-size: var(--h1-font-default, 40px);
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: var(--h2-font-default, 30px);
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    height: 60vh;
    overflow-y: scroll;
}