h1 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.card-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;

}