@using project_foodie.Pages.view_menu.components
<div class="menu-container">
    <div class="card-container">
        <h2 class="meal-text">Lunch</h2>
        @for (int x=0; x<3; x++) {
            <Dishes/>
        }
    </div>    
</div>
    