@using project_foodie.Pages.view_menu.components
<h1>Måndag vecka 34</h1>
    <h2> Lunch</h2>
    <div class="card-container">
        @for (int x=0; x<6; x++) {
            <Dishes/>
        }
    </div>