@using project_foodie.Pages.view_menu.components
@using project_foodie.Model;
@using Newtonsoft.Json;


<div class="menu-container">
    <h2 class="meal-text">@dayMenu.type</h2>
    <div class="card-container">
        @foreach (Dish dish in dayMenu.dishes)
        {
            if(dish.Type.ToString() == Category || Category == "all") {
                <Dishes dayMenu=@dayMenu dishData=@dish />
            }
        }
    </div>
    <div class="skip-container">
        <input type="checkbox" class="skip-checkbox" name="skip" value="skip">
        <label for="skip"> Jag vill avstå lunch.</label><br>
    </div>
</div>

@code {
    [Parameter]
    public DayMenu dayMenu { get; set; }
    [Parameter]
    public string Category { get; set; }
}
