@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

<div>
<h1>Översikt över dina val</h1>
<p>Thomas Andersson</p>
<p>Beställningsdag: 2023-01-23</p>

<table class="overview-table">
  <tr>
    <th>Veckodag</th>
    <th>Frukost</th>
    <th>Lunch</th>
    <th>Val</th>

  </tr>
  <tr>
    <td>Måndag</td>
    <td>Klassisk Lasagne</td>
    <td>Klassisk Chili Con Carne med ris</td>
    <td><button class="change-dish-button">Ändra val</button></td>
  </tr>
  <tr>
    <td>Tisdag</td>
    <td>Klassisk Lasagne</td>
    <td>Klassisk Chili Con Carne med ris</td>
    <td><button class="change-dish-button">Ändra val</button></td>
  </tr>
  <tr>
    <td>IOnsdag</td>
    <td>Klassisk Lasagne</td>
    <td>Klassisk Chili Con Carne med ris</td>
    <td><button class="change-dish-button">Ändra val</button></td>
  </tr>
  <tr>
    <td>Torsdag</td>
    <td>Klassisk Lasagne</td>
    <td>Klassisk Chili Con Carne med ris</td>
    <td><button class="change-dish-button">Ändra val</button></td>
  </tr>
  <tr>
    <td>Lördag</td>
    <td>Klassisk Lasagne</td>
    <td>Klassisk Chili Con Carne med ris</td>
    <td><button class="change-dish-button">Ändra val</button></td>
  </tr>
  <tr>
    <td>Söndag</td>
    <td>Klassisk Lasagne</td>
    <td>Klassisk Chili Con Carne med ris</td>
    <td><button class="change-dish-button">Ändra val</button></td>
  </tr>
</table>
</div>
@* <p>@dishName</p>
<p>@count</p>
<p>@id</p>
<p>@dishDescription</p> *@


@code {
    private string jsonString;
    private string dishName;
    private int count;
    private int id;
    private string dishDescription;

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }
    private async Task GetData()
    {
        var localStorageCount = await localStorage.GetItemAsync<string>("LocalDataDishes");
        //parse localStorageCount into json format
        jsonString = JsonConvert.SerializeObject(localStorageCount);

        // Retrieve the values
        JObject json = JObject.Parse(localStorageCount);
        dishName = (string)json["dishname"];
        count = (int)json["Count"];
        id = (int)json["ID"];
        dishDescription = (string)json["dishdiscription"];
    }



}