/*
path: src/Pages/view-menu/components/MenuContainer.razor.css
*/

h1 {
  font-size: var(--h1-font-default, 40px);
  font-weight: bold;
  text-align: center;
}

p {
  font-size: var(--p-font-default, 16px);
  font-weight: bold;
  margin: 10px;
}

ul {
  border-collapse: collapse;
  list-style-type: none;
  padding-left: 0;
}


li:not(:last-child) { margin-bottom: 10px; }

.overview-table tr td { font-size: 20px; }

.overview-container {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  width: 100%;
}

.overview-table {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-collapse: collapse;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 80%;
}

.overview-table th {
  background-color: var(--primary-color);
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: left;
  text-transform: uppercase;
}

.overview-table:first-child { border-radius: 10px; }

.overview-table td, .overview-table th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

a {
  background-color: #FF5757;
  border: none;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 16px;
  text-transform: uppercase;
}

.total-all-price { text-align: right; }

@media screen and (max-width: 1500px) {
  .overview-table {
    -webkit-box-shadow: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 60%;
  }

  .overview-table caption { font-size: 1.3em; }

  .overview-table th {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .overview-table tr {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    margin-bottom: 1em;
    overflow: hidden;
  }

  .overview-table tr:first-child {
    -webkit-box-shadow: none;
    border: 0;
    box-shadow: none;
  }

  .overview-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .overview-table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a .overview-table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .overview-table td:last-child {
    border-bottom: 0;
    text-align: center;
    vertical-align: center;
  }

  .overview-table td:first-child {
    background-color: #067A46;
    color: #fff;
  }

  a {
    background-color: #FF5757;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    padding: 8px 16px;
    width: 200px;
  }
}

@media screen and (max-width: 970px) {
  .overview-table {
    -webkit-box-shadow: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .overview-table {
    -webkit-box-shadow: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 60%;
  }

  .overview-table caption { font-size: 1.3em; }

  .overview-table th {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .overview-table tr {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    margin-bottom: 1em;
    overflow: hidden;
  }

  .overview-table tr:first-child {
    -webkit-box-shadow: none;
    border: 0;
    box-shadow: none;
  }

  .overview-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .overview-table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a .overview-table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .overview-table td:last-child {
    border-bottom: 0;
    text-align: center;
    vertical-align: center;
  }

  .overview-table td:first-child {
    background-color: #067A46;
    color: #fff;
  }

  a {
    background-color: #FF5757;
    border: none;
    border-radius: 50px;
    color: #fff;
    font-size: 12px;
    padding: 8px 16px;
    width: 200px;
  }
}

@media screen and (max-width: 970px) {
  .overview-table {
    -webkit-box-shadow: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    width: 100%;
  }
}
