h1 {
  text-align: center;
  font-size: var(--h1-font-default, 40px);
  font-weight: bold;
}

p {
  text-align: center;
  font-size: var(--p-font-default, 16px);
  font-weight: bold;
}

ul {
  list-style-type: none;
  border-collapse: collapse;
  padding-left: 0;
}


li:not(:last-child) {
  margin-bottom: 10px;
}

.overview-table tr td {
  font-size: 18px;
}

.overview-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;

}
.overview-table {
  border-collapse: collapse;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.overview-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #067A46;
  color: white;
  text-transform: uppercase;
}

.overview-table:first-child {
  border-radius: 10px;

}

.overview-table td, .overview-table th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

button {
  padding: 8px 16px;
	border-radius: 50px;
	border: none;
	background-color: #FF5757;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (max-width: 600px) {


  .overview-table {
    border-radius: 0;
    box-shadow: none;
  }

  .overview-table {
    border: 0;
    width: 100%;
  }

  .overview-table caption {
    font-size: 1.3em;
  }

  .overview-table th {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .overview-table tr {
    overflow: hidden;
    border: 1px solid #ddd;
    display: block;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .overview-table tr:first-child {
    border: 0;
    box-shadow: none;
  }

  .overview-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  .overview-table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a .overview-table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .overview-table td:last-child {
    border-bottom: 0;
    text-align: center;
    vertical-align: center;
  }

  .overview-table td:first-child {
    background-color: #067A46;
    color: #fff;
  }

  button {
    padding: 8px 16px;
    border-radius: 50px;
    border: none;
    background-color: #FF5757;
    color: #fff;
    font-size: 12px;
  }
}

