@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using project_foodie.Model

@* <h1>Översikt över dina val</h1>
<p>Thomas Andersson</p>
<p>Beställningsdag: 2023-01-23</p> *@

@foreach (var dish in menu.dayMenus.First().dishes)
{
    <p>@dish.Id - @dish.Name</p>
}


<p>@menu.dayMenus.First().date</p>



@code {
    [Parameter]
    public Menu menu { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }
    private async Task GetData()
    {
        var localStorageData = await localStorage.GetItemAsync<string>("dishData");


        var localStorageObj = JObject.Parse(localStorageData);
        Console.WriteLine(localStorageObj);

        foreach (var keyValue in localStorageObj)
        {

            Console.WriteLine("\"Date\" " + keyValue.Key);

            foreach (var idCount in (JObject)keyValue.Value)
            {
                Console.WriteLine("\"ID\" " + idCount.Key);
                Console.WriteLine("\"Count\" " + idCount.Value);
            }
        }
    }

}