@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;

<div class="overview-container">
<h1>Översikt över dina val</h1>
<p>Beställningsdag: 2023-01-23</p>

<table class="overview-table">
  <tr>
    <th>Veckodag</th>
    <th>Lunch</th>
    <th>Middag</th>
    <th></th>
  </tr>
  @for (int i=0; i<2; i++) {
    <tr>
    <td data-label="Veckodag">Måndag</td>
    <td data-label="Lunch">
    <ul>
        <li>
            Klassisk Lasagne &nbsp;&nbsp;<b>x1</b>
        </li>
        <li>
            Klassisk Lasagne &nbsp;&nbsp;<b>x1</b>
        </li>
    </ul>
    </td>
    <td data-label="Middag">
    <ul>
        <li>
            Klassisk Lasagne &nbsp;&nbsp;<b>x1</b>
        </li>
        <li>
            Klassisk Lasagne &nbsp;&nbsp;<b>x1</b>
        </li>
    </ul>
    </td>
    <td><button class="change-dish-button">Ändra val</button></td>
  </tr>
  }
</table>
</div>
@* <p>@dishName</p>
<p>@count</p>
<p>@id</p>
<p>@dishDescription</p> *@


@code {
    private string jsonString;
    private string dishName;
    private int count;
    private int id;
    private string dishDescription;

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }
    private async Task GetData()
    {
        var localStorageCount = await localStorage.GetItemAsync<string>("LocalDataDishes");
        //parse localStorageCount into json format
        jsonString = JsonConvert.SerializeObject(localStorageCount);

        // Retrieve the values
        JObject json = JObject.Parse(localStorageCount);
        dishName = (string)json["dishname"];
        count = (int)json["Count"];
        id = (int)json["ID"];
        dishDescription = (string)json["dishdiscription"];
    }



}