@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@using project_foodie.Model

<h1>Översikt över dina val</h1>
<p>Thomas Andersson</p>
<p>Beställningsdag: 2023-01-23</p>

@foreach (var dish in menu.dayMenus.First().dishes)
{
    <p>@dish.Id - @dish.Name</p>
}


@code {
    private string jsonString;
    private string DishName;
    private int DishCount;
    private int DishID;
    private string DishMenuDate;
    private string DishDescription;

    [Parameter]
    public Menu menu { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetData();
    }
    private async Task GetData()
    {
        var localStorageCount = await localStorage.GetItemAsync<string>("dishData");
        //parse localStorageCount into json format
        jsonString = JsonConvert.SerializeObject(localStorageCount);
        // loop over day menu

        foreach (var dish in menu.dayMenus.First().dishes)
        {
            foreach (var item in dish.GetType().GetProperties())
            {
                Console.WriteLine("{0} = {1}", item.Name, item.GetValue(dish));
            }
        }

        //print
    }

}