<div class="timeline-container">
    @foreach (var day in weekdays.Take(7))
    {
        <TimelineDay day="@day"/>
    }
</div>

@code {
    DateTime startDate;
    DateTime endDate;
    DateTime activeDate;
    List<DateTime> weekdays = new List<DateTime>();
    [Parameter]
    public DateTime[] DatesList {get; set;} = new DateTime[3]; 

    protected override async Task OnInitializedAsync()
    {
        // Get dates from parameter
        startDate = DatesList[0];
        endDate = DatesList[1];
        activeDate = DatesList[2];

        // Get all dates between start and end date
        for (var date = startDate; date <= endDate; date = date.AddDays(1)) 
        {
            weekdays.Add(date);
        }
    }
}