@using project_foodie.Pages.view_menu.components

<div class="timeline-container">
    @foreach (var day in weekdays.Take(7))
    {
        DateTime[] dayParam = new DateTime[4];
        dayParam[0] = day;
        dayParam[1] = activeDate;
        dayParam[2] = inactiveDate;
        dayParam[3] = startDate;

        <TimelineDay dates="@dayParam"/>
    }
</div>

@code {
    DateTime startDate;
    DateTime endDate;
    DateTime activeDate;
    DateTime inactiveDate;
    List<DateTime> weekdays = new List<DateTime>();
    [Parameter]
    public DateTime[] DatesList {get; set;} = new DateTime[4]; 

    protected override async Task OnInitializedAsync()
    {
        // Get dates from parameter
        startDate = DatesList[0];
        endDate = DatesList[1];
        activeDate = DatesList[2];
        inactiveDate = DatesList[3];

        // Get all dates between start and end date
        for (var date = startDate; date <= endDate; date = date.AddDays(1)) 
        {
            weekdays.Add(date);
        }
    }
}