/* Path: src/Pages/view-menu/components/TimeLineSection.razor.css */
.timeline-line {
  border-top: 1px solid black;
  height: 100%;
  margin-top: 0.8em;
  width: 5em;
}

.timeline-dot-inner {
  border: 1px solid black;
  border-radius: 100%;
  height: 0.6em;
  margin-bottom: 0.3em;
  margin-top: 0.5em;
  width: 0.6em;
}

.timeline-item {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -o-transition: 250ms all ease-in-out;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-transition: 250ms all ease-in-out;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  overflow: hidden;
  transition: 250ms all ease-in-out;
  width: 100%;
}

.hidden {
  opacity: 0;
  width: 0px;
}

.day {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.type {
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 0.2em;
}

.type.active {
  background: #067A46;
  font-weight: bold;
}

.type.active a { color: white; }

.type.inactive {
  color: grey;
  opacity: 0.5;
}

.type.passed { opacity: 0.3; }

.timeline-item.active {
  background: #067A46;
  color: white;
  font-weight: bold;
}
