@using System.Globalization
<div class="@classTimelineCard">
    @weekday
</div>

@code {
    string classTimelineCard = "timeline-day-not-done";
    string weekday = "";

    [Parameter]
    public DateTime[] dates { get; set; } = new DateTime[4];

    protected override void OnInitialized()
    {
        var date = dates[0];
        var activeDate = dates[1];
        var inactiveDate = dates[2];
        var startDate = dates[3];

        if (date == inactiveDate)
        {
            classTimelineCard = "timeline-day-inactive";
        }
        else if (date == activeDate)
        {
            classTimelineCard = "timeline-day-active";
        }
        else if (date < activeDate)
        {
            classTimelineCard = "timeline-day-done";
        }

    // Convert from date to weekday
        weekday = date.ToString("dddddd", new CultureInfo("sv-SE"));
        weekday = char.ToUpper(weekday[0]) + weekday.Substring(1);
    }

}