
    <div >
        <h2>Översikt</h2>
        <div class="line"></div>
        <div class="linkContainer">
              <NavLink class="nav-link" href="/me/order_history">   <div class="menuCard"><h3>Mina beställningar</h3><p>Här kan du se dina aktiva och tidigare beställningar.</p> </div></NavLink> 
          <NavLink class="nav-link" href="/me/invoices">   <div class="menuCard"><h3>Mina fakturor</h3><p>Här kan du hantera dina fakturor och betalningsuppgifter.</p> </div></NavLink> 
            <NavLink class="nav-link" href="/me/favourites">     <div class="menuCard"><h3>Mina favoriter</h3><p>Här kan du se dina favoriter.</p> </div>
          </NavLink> <NavLink class="nav-link" href="/me/aboutme">  <div class="menuCard"><h3>Mina uppgifter</h3><p>Här kan du hantera dina personuppgifter, allergier.</p> </div></NavLink> 
        </div>
    </div>
