.sidebar {
    width: 267px;
    height: 322px;
    padding-left: 20px;
}

.sidebar-title {
    font-size: 30px;
    font-weight: 600;
    padding: 10px 10px 0px 10px;
    margin: 0;
}

.item {
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
}

.item .nav-link span {
    text-decoration: none;
}

.item .nav-link-active span {
    text-decoration: underline 1px solid #991F3D;
    transition: ease-in 0.3s;
    text-underline-offset: 6px;
}

hr {
    border-top: 1px solid #C8C8C8;
}

