.flex-container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  background-color: blanchedalmond;
  width: 300px;
}

.pageControl {
  -ms-flex-pack: distribute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
}

.line {
  background: var(--primary-color);
  height: 3px;
  margin-bottom: 15px;
  width: 100%;
}

.tables {
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.order-history-title {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  width: 100%;
}

.order-history-container { width: 100%; }

/**/

a { color: black; }

a.active {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

@media screen and (max-width: 1300px) {
  .order-history-title { text-align: center; }
}
.page {
  -ms-flex-direction: row;
  -ms-flex-pack: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

@media screen and (max-width: 920px) {
  .container {
    margin: 0;
    width: 100%;
  }

  .flex-container {
    justify-content: center;
  }

  .line {
    display: none;
  }
}
