@using project_foodie.Data
@using project_foodie.Model
@using System.Text.Json
@using  System;
@using  System.Linq;
@using  Microsoft.EntityFrameworkCore;
@using project_foodie.Repository;
@namespace project_foodie.Pages.Webmaster
<h1>Test</h1>
<p>@message</p>
 <button @onclick="FillDB">Fill DB</button>
 <button @onclick="clearDb">Clear DB</button>



@code {

    private string message = "Hello, world!";
    private Menu menu;

    private void clearDb(){
        var db = new DatabaseContext();
        db.Database.EnsureDeleted();
        db.Database.EnsureCreated();
        message = "DB cleared";
    }

    private Ingredient CreateIngredient(string name)
    {
        var Ingredient =  new Ingredient()
        {
            Name = name,
            Allergens = new List<Allergen>()
        };

        var Allergen = new Allergen()
        {
            Name = "Gluten",
            Ingredients = new List<Ingredient>(){
                Ingredient
                }
        };

        return Ingredient;
    }

    private async Task FillDB()
    {


       using (var db = new DatabaseContext())
        {
        MenuRepository menuRepository = new MenuRepository(db);


        List<Menu> menus = new List<Menu>()
        {
            new Menu(){ Name = "Vecka 8", lastOrderDate = new DateTime(2023, 2, 18), startDate = new DateTime(2023, 2, 20), endDate = new DateTime(2023, 2,26) },
            new Menu(){ Name = "Vecka 9", lastOrderDate = new DateTime(2023, 2, 25), startDate = new DateTime(2023, 2,27), endDate = new DateTime(2023, 3, 5) },
            new Menu(){ Name = "Vecka 10", lastOrderDate = new DateTime(2023, 3, 4), startDate = new DateTime(2023, 3, 6), endDate = new DateTime(2023, 3, 12) }
        };
        //loop over menus
        foreach (var menu in menus)
        {
            //add menu
            await menuRepository.AddAsync(menu);
            Console.WriteLine("Menu added: " + menu.Id);
        }

        List<Dish> dishes = new List<Dish>();


        //Add dishes
        for (int i = 0; i < 10; i++)
        {
            Dish dish = new Dish(){
            Name = "Dish " + i,
            Price = 100 + i,
            description = "Description " + i,
            ImageUrl = "Image " + i

            };
            dish.Ingredients = new List<Ingredient>();
            dish.Ingredients.Add(CreateIngredient("Ingredient " + i));

            dishes.Add(dish);
        }



    }

   
        message = "Dishes added to menus";
    }

    async void getFirstMenu(){
       this.menu = await Menu.GetMenuByIdAsync(1);
       //print menu
         Console.WriteLine("Menu: " + menu.Name);
    }
}